.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-bg {
    @include media-breakpoint-down(md) {
    background-color: $body-color;
    margin-top: 2rem;
    }
}

.navbar-list {
    line-height: 2rem;
}
.navbar-nav .nav-link {
    font-size: .75rem; 
    color: $body-color;
    font-weight: 600;
    padding: $navbar-link-pad;
    @include media-breakpoint-down(md) {
        color: #fff;
    }
}

.rent-type {
    font-size: .75rem;
    padding: 1rem;
}

.content-hero {
    position: absolute;
    width: 50vw;
    height: 100vh;
    background-color: #FFDC53;
    z-index: -1;
    @include media-breakpoint-down(xs) {
        display: none;
    }
}

.header {
    padding: 1.5rem 0;
}

.fa-bars {
    content:"\f0c9";
}

.navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
  }
