.hero {
    height: 100vh;
}

.carousel {
    height: 50rem;
}

.mustang-img {
    margin-right: .5625rem;
}
.slider-heading {
    max-width: 27.5rem;
    font-size: .6875rem;
}
.price-slide-text {
    font-size: .75rem;
    font-weight: 700;
}

.info-car-slider-box {
    position: absolute;
    right: 10px;
}
.info-box {
    height: 30px;
    width: 8rem;
    background-color: #EFEFEF;
    margin: 2px 0;
    font-size: .625rem;
    text-transform: uppercase;
}

.icon-box-slider {
    width: 30%;
}

