.testimonials {
    background: url(/img/bg-testimonials@2x.jpg) no-repeat;
    background-size: cover;
    padding: 3.5rem 0;
    position: relative;
    // z-index: 2000;
    & > * {
        position: relative;
        z-index: 2;
    }
    &:after {
        content: '';
        background-color: #fff;
        opacity: .96;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .circle-container {
        border-radius: 50%;
        height: 60px;
        width: 60px;
        background: url(/img/client@2x.jpg) no-repeat;
        background-size: cover;
        margin-bottom: 1rem;
    }
}


.italic {
    font-style: italic;
    font-size: .875rem;
}

.quotation-container {
    max-width: 70%;
}

.client-info {
    font-size: .875rem;
    font-weight: 600;
    
}
.client-position {
    font-size: .625rem;
    color: rgba(0,0,0, .4);
    margin-top: 8px;
}

.testimonials .divider {
    margin-bottom: 3.5rem;
}

.arrow-testimonial {
    background: url(/img/arrow-next.svg) no-repeat;
}

.left {
    transform: rotate(180deg);
}