*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: "Open-sans", "PT Serif", sans-serif;
   
}

body {
    box-sizing: border-box;
    color: $body-color;
    background-color: #FDFDFD;

}

p {
    margin: 0;
}


.btn:focus {
    outline: none;
    box-shadow: none;
  }
  

  a {
      color: #000;
  }

  a:hover {
    text-decoration: none;
    color: $main-color-success;
}
