@mixin button{
  background-color: $main-color-success;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 600;
  border-radius: 1px;
  width: 100%;
}


@mixin label-custom {
  font-size: .6875rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 1rem;
  letter-spacing: .5px;
}