$font-family-body: "Open Sans";
$font-family-secondary: "PT Serif";
$navbar-link-pad: 0 .75rem;
$body-color: #000;
$main-color-success: #FCD850;
$font-family-sans-serif: $font-family-body;
$headings-font-family: $font-family-secondary;
$black: $body-color;
$navbar-nav-link-padding-x: $navbar-link-pad;